@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: #000;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Gradient text */
.text-gradient {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Custom class for mobile line break */
@media (max-width: 640px) {
  .mobile-line-break {
    white-space: pre-wrap; /* Allows breaking lines */
    word-break: break-word; /* Break long words */
  }
}